.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;

	padding-block: 1rem;
	margin-bottom: 1rem;

	h1 {
		grid-column: 2/3;

		font-size: 1.75rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	button {
		grid-column: 3/4;
		justify-self: end;
	}
}
