.form {
	display: flex;
	justify-content: center;

	div {
		border-radius: 100vmax;
		position: relative;

		&:focus-within {
			outline: 2px solid #ffffff;
			outline-offset: 4px;
		}
	}

	input {
		appearance: none;
		border: none;
		outline: none;

		width: 90vw;
		max-width: 50ch;
		padding: 0.5em 4em 0.5em 1em;
		background: none;
		background-color: #ffffff;
		color: gray;
		border-radius: 100vmax;
	}

	button {
		position: absolute;
		right: 0;
	}
}
