.button {
	padding: 0.5em 1em;
	border-radius: 100vmax;

	background-color: var(--secondary);

	color: var(--primary);

	font-weight: 700;
	font-size: var(--fs-1);

	&:disabled {
		opacity: 0.5;
	}
}
