.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	& + .item {
		margin-top: 0.5rem;
		border-top: 1px solid #ffffff;
		padding-top: 0.5rem;
	}

	.input-container {
		display: flex;
		align-items: center;
	}

	input[type="checkbox"] {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
		place-content: center;

		width: 1.5rem;
		height: 1.5rem;
		margin: 0;
		margin-right: 0.5rem;
		border: 0.125rem solid transparent;
		border-radius: 0.125rem;

		font: inherit;
		color: currentColor;

		appearance: none;

		&:disabled::before,
		&:disabled::after {
			opacity: 0.5;
		}
	}

	input[type="checkbox"]:focus-visible {
		outline: 2px solid var(--text);
		outline-offset: 4px;
	}

	input[type="checkbox"]::after {
		content: "";

		grid-row: 1/2;
		grid-column: 1/2;

		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.125rem;

		box-shadow: inset 1.5rem 1.5rem var(--text);

		transform: scale(1);
		transition: 250ms transform ease-in-out;
	}

	input[type="checkbox"]::before {
		content: "X";
		display: grid;
		place-content: center;

		grid-row: 1/2;
		grid-column: 1/2;
		place-self: center;

		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.125rem;
		border: 2px solid var(--text);

		box-shadow: inset 1.5rem 1.5rem var(--secondary);

		color: var(--primary);
		font-weight: 600;

		transform: scale(0);
		transition: 500ms transform ease-in-out 250ms;
	}

	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}

	input[type="checkbox"]:checked::after {
		transform: scale(0);
	}

	input[type="checkbox"]:checked + input[type="text"] {
		text-decoration: line-through;
	}

	input[type="text"] {
		width: 100%;

		border-radius: 1rem;
		border: none;

		color: var(--text);
		font-size: var(--fs-2);
		font-weight: 300;

		padding: 0.75em 0.5em;

		background: none;

		outline: none;

		&.editing {
			background: var(--secondary);
			color: var(--primary);

			outline: 2px solid var(--secondary);
			outline-offset: 2px;
		}
	}

	.buttons-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;

		& * {
			flex-shrink: 0;
			flex-basis: 100%;

			&:focus-visible {
				outline: 2px solid var(--text);
				outline-offset: 4px;
			}
		}
	}
}

@media (max-width: 40em) {
	.item {
		flex-direction: column;

		& + .item {
			margin-top: 1.25rem;
		}

		.input-container {
			flex-direction: column-reverse;

			margin-bottom: 0.5rem;
		}

		input[type="checkbox"] {
			margin-right: 0;
		}

		input[type="text"] {
			text-align: center;
		}
	}
}
