.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	& + .item {
		margin-top: 0.5rem;
		border-top: 1px solid #ffffff;
		padding-top: 0.5rem;
	}

	.input-container {
		display: flex;
		align-items: center;
	}

	input[type="checkbox"] {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
		place-content: center;

		width: 1.5em;
		height: 1.5em;
		margin: 0;
		margin-right: 0.5rem;
		border: 0.125em solid transparent;
		border-radius: 0.125em;

		font: inherit;
		color: currentColor;

		appearance: none;
	}

	input[type="checkbox"]::after {
		content: "";

		grid-row: 1/2;
		grid-column: 1/2;

		width: 1.5em;
		height: 1.5em;
		border-radius: 0.125em;

		box-shadow: inset 1.5em 1.5em var(--text);

		transform: scale(1);
		transition: 250ms transform ease-in-out;
	}

	input[type="checkbox"]::before {
		content: "X";

		grid-row: 1/2;
		grid-column: 1/2;
		place-self: center;

		width: 1.5em;
		height: 1.5em;

		box-shadow: inset 1.5em 1.5em var(--secondary);
		color: var(--primary);
		display: grid;
		place-content: center;
		border-radius: 0.125em;
		border: 2px solid var(--text);
		font-weight: 600;

		transform: scale(0);
		transition: 500ms transform ease-in-out 250ms;
	}

	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}

	input[type="checkbox"]:checked::after {
		transform: scale(0);
	}

	input[type="checkbox"]:checked + input[type="text"] {
		text-decoration: line-through;
	}

	input[type="text"] {
		width: 100%;
		color: var(--text);
		font-size: var(--fs-2);
		font-weight: 300;
	}

	.buttons-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;

		& * {
			flex-shrink: 0;
			flex-basis: 100%;
		}
	}
}

@media (max-width: 40em) {
	.item {
		flex-direction: column;

		& + .item {
			margin-top: 1.25rem;
		}

		.input-container {
			flex-direction: column-reverse;

			margin-bottom: 0.5rem;
		}

		input[type="checkbox"] {
			margin-right: 0;
		}

		input[type="text"] {
			text-align: center;
		}
	}
}
